@import "react-toastify/dist/ReactToastify.css";
@import "bulma/css/bulma.css";

* {
    font-family: "Arial", sans-serif;
    color: black;
}

html, body {
    margin: 0;
}

.Toastify__toast {
    border-radius: 5;
    border-width: 1px;
    border-style: solid;
    border-color: #d6d6d6;
    padding: 10px;
    font-family: var(--main-font);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    background-color: white;
    color: black;
}

.widget {
    opacity: 1;                     
    transition: opacity 0.5s ease-in-out;
    background-color: transparent;
}

.fade-in {
    opacity: 1; /* Set opacity to 1 (completely visible) for fading in. */
}

.fade-out {
    opacity: 0; /* Set opacity to 0 (completely invisible) for fading out. */
}

.content {
    padding: 30px;
}