.DS_Store

# any file inside the src/server/temp directory, apart from .gitkeep
src/server/temp/*
!src/server/temp/.gitkeep

# Model files with extensions .paras and .parasect
*.paras
*.parasect
*.paras.gz
*.parasect.gz